{% extends "layout.html" %}

{% block title %}
    Add Report
{% endblock %}
{% block main %}
<form action="/Add_Report" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" placeholder="DD/MM/YYYY" type="date">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="hours" name="hours" placeholder="No. of Hours" type="number">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="minutes" name="minutes" placeholder="Work-Minutes" type="number">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="progress" name="progress" placeholder="Major Progress" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="new_aim" name="new_aim" placeholder="Next Aim" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Add Report</button>
</form>
{% endblock %}