{% extends "layout.html" %}

{% block title %}
    Analyst
{% endblock %}

{% block main  %}
    <h1>What is Data <a href="https://en.wikipedia.org/wiki/Analytics">Analytics?</a></h1>
    <h4>Insights about the market and customers are essential for business success. But there have always been challenges in getting those<br>
         insights. In today’s digital era, you need a data analytics solution that integrates the best of analytics and data management capabilities to<br>
          quickly and easily access the data and analyze the information you need—when and where you need it.</h4>

          <h1>Four main types of data analytics</h1>
          <h2>1. <a href="https://en.wikipedia.org/wiki/Predictive_analytics">Predictive data analytics</a></h2>
            <h4>Predictive analytics may be the most commonly used category of data analytics. Businesses use predictive analytics to identify trends, correlations,<br>
                 and causation. The category can be further broken down into predictive modeling and statistical modeling; however, it’s important to know that the <br>
                 two go hand in hand.</h4>
          <h2>2. <a href="https://en.wikipedia.org/wiki/Prescriptive_analytics"> Prescriptive data analytics</a></h2>
                <h4>Prescriptive analytics is where AI and big data combine to help predict outcomes and identify what actions to take. This category of analytics can be<br>
                     further broken down into optimization and random testing. Using advancements in ML, prescriptive analytics can help answer questions such as <br>
                     “What if we try this?” and “What is the best action?” You can test the correct variables and even suggest new variables that offer a higher chance <br>
                     of generating a positive outcome.</h4>
          <h2>3. Diagnostic data analytics</h2>
                <h4>While not as exciting as predicting the future, analyzing data from the past can serve an important purpose in guiding your business. Diagnostic <br>
                    data analytics is the process of examining data to understand cause and event or why something happened. Techniques such as drill down, data discovery,<br>
                     data mining, and correlations are often employed.</h4>
          <h2>4. Descriptive data analytics</h2>
                    <h4>Descriptive analytics are the backbone of reporting—it’s impossible to have business intelligence (BI) tools and dashboards without it. It addresses <br>
                        basic questions of “how many, when, where, and what.”<br>
                        Once again, descriptive analytics can be further separated into two categories: ad hoc reporting and canned reports. A canned report is one that has been<br>
                        designed previously and contains information around a given subject. An example of this is a monthly report sent by your ad agency or ad team that details <br>
                        performance metrics on your latest ad efforts.</h4>
{% endblock %}