{% extends "layout.html" %} 
{% block title %} BOONS {% endblock %}

{% block main %}
    <H1>Four BOONS</H1>
    <div class="parentDiv">
    <div class="childDiv">
        <h1>1. Discipline</h1>
            <ul>
                <li>Create specific and realistic goals.</li>
                <li>Create a schedule for yourself</li>
                <li>Place reminders</li>
                <li>Reward yourself when you get something done</li>
              </ul>
    </div>
    <div class="childDiv">
        <h1>2. Consistency</h1>
        <ul>
            <li>Keep going if you make a mistake.</li>
            <li>Take time off to recharge</li>
            <li>Use motivational tools to keep going </li>
            <li>Hold yourself accountable</li>
        </ul>
    </div>
    <div class="childDiv">
        <h1>3. Alter Thinking</h1>
        <br>
        <ul>
            <li>Give yourself time to see changes</li>
            <li>Set boundaries for your commitments</li>
            <li>Build your willpower </li>
            <li>Eliminate negative thinking</li>     
        </ul>
        </div>
    <div class="childDiv">
        <h1>4. Managing Time</h1>
        <br>
            <ul>
                <li>Meeting deadlines</li>
                <li>Self-awareness</li>
                <li>Stress management and coping</li>
                <li>Strategic planning</li>
            </ul>
    </div>
   </div>

{% endblock %}