{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Minutes</th>
            <th scope="col">Progress</th>
            <th scope="col">New Aim</th>
        </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ row["date"] }}</td>
                    <td>{{ row["hours"] }}</td>
                    <td>{{ row["minutes"] }}</td>
                    <td>{{ row["progress"] }}</td>
                    <td>{{ row["new_aim"] }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}